[submodule "snapcast"]
	path = snapcast/snapcast
	url = https://github.com/badaix/snapcast.git
[submodule "shairport-sync"]
	path = snapcast/shairport-sync
	url = https://github.com/mikebrady/shairport-sync.git
[submodule "alac"]
	path = snapcast/alac
	url = https://github.com/mikebrady/alac.git
[submodule "librespot"]
	path = snapcast/librespot
	url = https://github.com/librespot-org/librespot.git
[submodule "snapweb"]
	path = snapcast/snapweb
	url = https://github.com/badaix/snapweb.git
